@page "/"
@using MauiMoneyTracker.Components

<PageTitle>Index</PageTitle>

<div class="container">
    <div class="row p-1">
        <div class="col">
        <ChartLayer></ChartLayer>
        </div>
    </div>
    <div class="row p-1">
        <div class="col">
            <FormLayer></FormLayer>
        </div>
    </div>
    <div class="row p-1">
        <div class="col">
            <GrindLayer></GrindLayer>
        </div>
    </div>
</div>
