@using BlazorBootstrap;
@using Microsoft.AspNetCore.Components.Forms;
@using MauiMoneyTracker.Data;
@using Color = System.Drawing.Color;

<div class="container">
    <div class="row p-1">
        <LineChart @ref="lineChart" Width="600" Class="mb-4" />
    </div>
</div>
