@using MauiMoneyTracker.Data;

<p>Grid Work in progress</p>

<Grid @ref="gridSpents"
      TItem="Spent"
      Class="table table-hover table-bordered table-striped"
      DataProvider="SpentsProvider"
      AllowFiltering="true"
      AllowPaging="true"
      Responsive="true">

    <GridColumn TItem="Spent"
                HeaderText="Dépense"
                PropertyName="Amount">
        @context.Amount
    </GridColumn>

    <GridColumn TItem="Spent"
                HeaderText="Total"
                PropertyName="Total">
        @context.Total
    </GridColumn>

    <GridColumn TItem="Spent"
                HeaderText="Description"
                PropertyName="Label">
        @context.Label
    </GridColumn>

    <GridColumn TItem="Spent"
                HeaderText="Date"
                PropertyName="Date">
        @context.Date
    </GridColumn>
</Grid>
